<p>search-page works!</p>


<mat-card>
    
    
    
        <mat-form-field  ><br>
        <input placeholder="Enter Name:"  matInput type="text" [(ngModel)]="enteredValue" />
        <!-- <button (click)="clickMe()" >Click</button> -->
        <!-- <p *ngFor="let p of filteredArrayProduct ">{{p.name}}</p> -->
          <mat-error style="color: blueviolet">What to seach?</mat-error>
          
        </mat-form-field><br>
      
    
    
    
    
    
     
      <button mat-raised-button
              color="primary"
              type="submit" (click)="clickMe()" >Search</button>
    
            
            
    
    </mat-card>
    
    


   
<div style="height: 600px" class="d-inline-flex p-2" *ngFor="let product of filteredArrayProduct">


  <div class="card" style="width: 18rem;">
    <!-- <img src="{{gpu.imgPathCompanyLogo}}" > -->
    <img class="card-img-top" src="{{product.imgPath}}" >

    <img style="margin-top: 10px" width="80px" height="28px" src="{{product.imgPathCompanyLogo}}">



    <div id="start"></div>



    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>

      <div style="display: inline;margin-left: 5px" *ngFor="let number of [0,1,2,3,4] "  >
        <p style="display: inline" *ngIf="number<product.numOfStars">
          <i style="color: #fbb535" class="fa fa-star" aria-hidden="true"></i></p>
      </div >

    
      <p class="card-text">{{product.description}}</p>
      <h5 class="card-title">{{product.price}}</h5>
      <a style="margin-bottom: 10px" href="#" class="btn btn-primary">Go somewhere</a>
    </div>

  </div>
</div>
<app-selected-list></app-selected-list>


<!-- <div  >


  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        GPU
      </mat-panel-title>
    
     
    </mat-expansion-panel-header>
    <mat-panel-title  style="color:red">
      AMD
      <input type="checkbox">
    </mat-panel-title>
    <div *ngFor="let gpu of gpusAmd">

      <p style="display: inline;">{{gpu.company}}</p>
      <input type="checkbox">

    </div>
    <mat-panel-title style="color:red">
      NVIDIA
      <input type="checkbox">
    </mat-panel-title>
    <div  *ngFor="let gpu of nvidia">

      <p style="display: inline;">{{gpu.company}}</p>
      <input type="checkbox">
    </div>
  
  </mat-expansion-panel>



</div> -->


<div class="accordion" id="accordionExample">
  
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Category
        </button>
        <input type="checkbox" aria-label="Checkbox for following text input">

        
      </h2>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <div  *ngFor="let category of categories">

          <p style="display: inline;">
            <button   class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              {{category}}
             </button>

             

          </p>
          <input type="checkbox" >
        </div>
      </div>
    </div>





   


    



    
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Manufacturer
        </button>
        <input type="checkbox" aria-label="Checkbox for following text input">

      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div *ngFor="let manufacturer of manufacturers">

          <p style="display: inline;">{{manufacturer}}</p>
          <input type="checkbox">
    
        </div>      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          All Products
        </button>
        <input type="checkbox" aria-label="Checkbox for following text input">

      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <div *ngFor="let productName of productNames">

          <p style="display: inline;">{{productName}}</p>
          <input type="checkbox">
    
        </div> 
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-success">Filter</button>



